html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --dark-blue: #283e50;
  --green: #1fcca4;
  --hover-green: #1cbb96;
  --blue: #0197f6;
  --hover-blue: #0090e9;
  --focus: #aa0a17;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  margin: 0;
}

a {
  text-decoration: none;
}


:focus {
  outline: 2px dotted var(--focus);
}

p {
  margin: 0;
  padding-top: 1rem;
}

/* container */

.container {
  margin: 4rem auto;
  width: 20rem;
  text-align: center;
}

@media (min-width: 25em) {
  .container {
    width: 25rem;
  }
} 

@media (min-width: 40em) {
  .container__rules {
    width: 40rem;
  }

  .container__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.25rem;
  }
}

.container__image {
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
  width: 100%;
}

.container__content {
  color: var(--primary-color);
  background-color: var(--dark-blue);
  padding: 2rem;
}

.container__content--border-radius {
  color: var(--primary-color);
  background-color: var(--dark-blue);
  padding: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.img__cross, .img__circle {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  vertical-align: -0.1em;
}

/* buttons */

.cta {
  display: block;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}

:is(.cta--rules, .cta--main) {
  background-color: var(--green);
  transition: background 250ms ease-in-out;
  padding: 1rem 0;
}

.cta--rules:hover {
  background-color: var(--hover-green);
}

.cta--start {
  background-color: var(--blue);
  border-top: 1px solid var(--dark-blue);
  transition: background 250ms ease-in-out;
  padding: 1rem 0;
}

.cta--start:hover {
  background-color: var(--hover-blue);
}

/* images and images description */

figure {
  margin: 0;
  padding-top: 2.5rem;
}

figcaption {
  padding-top: 0.8rem;
  font-style: italic;
}

.img__instruction {
  display: block;
  width: 100%;
}

/* ordered list */

.list {
  margin: 0;
  padding-top: 3rem;
}

.list__item {
  padding-bottom: 1.25rem;
  padding-left: 0.9rem;
  text-align: left;
}
